<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Document</title>
</head>

<body>
    {{>navbar}}

    {{!-- hero section start --}}

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div
                        class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        <h1>WE WILL HELP YOU TO</h1>
                        <h1>GROW YOUR BUSINESS</h1>
                        <p>We Are The Team Of <span class="bold-style">Professional Developer🤞</span></p>
                        <button class="btn btn-primary">Read More</button>
                    </div>
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure>
                            <img src="img/growth.png" alt="herosection_images" height="500px">
                        </figure>
                    </div>
                </div>

            </div>
        </div>

    </div>

    {{!-- hero section ends --}}

    {{!-- about us start --}}
    {{>about}}
    {{!-- about us ends --}}

    {{!-- Our services start --}}
    {{>service}}
    {{!-- Our services ends --}}

    {{!-- maps start --}}
    {{>maps}}
    {{!-- maps ends --}}

    {{!-- contact us start --}}
    {{>contact}}
    {{!-- contact us ends --}}




    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>


</body>

</html>