    <div class="container-fluid mt-5 about-style" id="aboutid ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About us</h1>
                <p class="text-center sub-heading">grow your business with us</p>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text ">
                         <figure>
                            <img src="img/body.png" alt="herosection_images" height="500px">
                         </figure>
                    </div>
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                        <h1>WE ARE THE PROFESSIONAL DEVELOPER🤞</h1>
                        
                        <p>Welcome To <span class="bold-style">PrakashProject</span> , Your Number one source for all things. we're Dedicated to giving
                          you the very best  of works, with a focus on [Three characteristics, ie: Dependability,customer service and Uniqueness.] </p>
                        <button class="btn btn-primary">Read More</button>
                    </div>
                </div>

            </div>
        </div>

    </div>